@import '~@/styles/mixin.styl';
.ratingselect{
	.rating-type{
		padding:18px 0;
		margin: 0 18px;
		bottom-1px(rgba(7,17,27,0.1));
		font-size:0;
		.block{
			display:inline-block;
			padding: 8px 12px;
			line-height:16px;
			margin-right:8px;
			border-radius:2px;
			font-size:12px;
			color:rgb(77,85,93);
			.count{
				font-size:8px;
				margin-left:2px;
			}
			&.active{
				color:#fff;
			}
			&.positive{
				background:rgba(0,160,220,.2);
				&.active{
					background:rgb(0,160,220)
				}
			}
			&.negative{
				background:rgba(77,85,93,.2);
				&.active{
					background:rgb(77,85,93)
				}
			}

		}

	}
	.switch{
		padding:12px 18px;
		line-height:24px;
		bottom-1px(rgba(7,17,27,0.1));
		color:rgb(147,153,159);
		font-size: 0px;
		&.on{
			.icon-check_circle{
				color:#00c850;
			}
		}
		.icon-check_circle{
			display:inline-block;
			vertical-align: top;
			margin-right: 4px;
			font-size:24px;
		}
		.text{
			display:inline-block;
			vertical-align: top;
			font-size:12px;
		}

	}
}